<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>accounts</title>
    <link rel="stylesheet" type="text/css" href="/statics/styles/freeradicals/style.css" media="screen" />
  </head>

  <body>

    <div id="wrapper">

      <div id="header">
	<div id="logo">
	  <h1><a href="#">
	      {% block title %}
	      account management
	      {% endblock %}
	  </a></h1>
	</div>
	<!-- end #logo -->

      </div>
      <!-- end #header -->

      <div id="page">
	<div id="content">
	  {% block content %}
	  {% endblock %}

	</div>
	<!-- end #content -->
	<div style="clear:both; margin:0;"></div>
      </div>
      <!-- end #page -->

    </div>

    <div id="footer">
      <p>&copy; 2008. All Rights Reserved. Design by halida.</p>
    </div>
    <!-- end #footer -->
  </body>
</html>
